@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rokkitt&display=swap");
/* 
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rokkitt', serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid black; */
}
/* container */
.container {
  padding: 3% 7%;
}

/* button */
.btn_login {
  background-color: #00b103;
  padding: 10px 25px;
  border-radius: 0px 25px;
  color: #fff;
  text-decoration: none;
}
.btn_start {
  background: rgba(227, 12, 12, 0.72);
  padding: 10px 25px;
  border-radius: 0px 25px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.btn_maps {
  text-decoration: none;
  color: #fff;
  background-color: #00b103;
  padding: 10px;
  border-radius: 0px 10px;
  font-weight: bold;
}
.btn_buy {
  background-color: #00b103;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* heaading */
.heading1 {
  font-size: 60px;
  font-family: "Mochiy Pop P One", sans-serif;
  line-height: 60px;
  margin-bottom: 15px;
}
.subheading1 {
  font-size: 25px;
  font-family: "Rokkitt", serif;
  margin-bottom: 40px;
}

.heading2 {
  font-size: 35px;
  font-weight: bold;
  margin: 20px auto;
  width: max-content;
}
.heading2:hover {
  animation: fadeUp 1s forwards;
  background-color: #00b103ad;
  padding: 0px 30px;
  border-radius: 50px 10px;
  transition: 1s;
  border: 2px solid #fff;
}
@keyframes fadeUp {
  0% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.heading3 {
  font-size: 25px;
  font-weight: bold;
}
.heading4 {
  font-size: 16px;
  text-align: center;
}

/* variasi */
.variasi {
  width: 100%;
  height: 600px;
  background-image: url(/assets/img/variasi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
}

/* color */
.white {
  color: #fff;
}
.blue {
  background-color: #001f4f;
}
.black {
  background-color: #272c32;
}

/* Navbar */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  width: 30%;
}
nav .logo img {
  width: 180px;
}
nav ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* footer */
footer {
  display: flex;
  width: 100%;
}
footer .col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
footer .col .icon {
  display: flex;
  margin-bottom: 40px;
}
footer .col .icon img {
  width: 50px;
  margin-right: 10px;
}
footer .col .cp {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.logoFooter {
  width: 200px;
}
footer .col ul {
  display: flex;
  margin-top: 20px;
}
footer .col ul li {
  list-style: none;
  margin-right: 20px;
}
footer .col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
footer .col ul li a:hover {
  opacity: 0.7;
}
